<div id="body">
  <div class="body">
<div class="container">
  <div class="title">Water Availabity</div>
  <div class="content">
   <form class="form-inline" action="/" method="post">
    <label class="switcher">
      <input type="checkbox"/>
      <div class="switcher__indicator"></div><span>Monday</span>
    </label><br/><br/>

    <label class="switcher">
      <input type="checkbox"/>
      <div class="switcher__indicator"></div><span>Tuesday</span>
    </label><br/><br/>

    <label class="switcher">
      <input type="checkbox"/>
      <div class="switcher__indicator"></div><span>Wednesday</span>
    </label><br/><br/>

    <label class="switcher">
      <input type="checkbox"/>
      <div class="switcher__indicator"></div><span>Thursday</span>
    </label><br/><br/>

    <label class="switcher">
      <input type="checkbox"/>
      <div class="switcher__indicator"></div><span>Friday</span>
    </label><br/><br/>

    <label class="switcher">
      <input type="checkbox"/>
      <div class="switcher__indicator"></div><span>Saturday</span>
    </label><br/><br/>

    <label class="switcher">
      <input type="checkbox"/>
      <div class="switcher__indicator"></div><span>Sunday</span>
    </label><br/><br/>
  </div>
  <div class="btns">
  <a class="btn icon-btn btn-success" href="#">
<span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
Add
</a></div><br/>
</form>
</div>
</div>
</div>